body {

    background-color: hsla(50, 50%, 40%, 0.8);
}

.homeDiv {
    margin: 0px;
}

.rootDiv {
    perspective: 1000px;
    /*perspective-origin: 50% 200px;*/ /*上下角度视角 */
    perspective-origin: 50%;
}

.homeDiv .container {
    top: 300px;
    width: 200px;
    height: 200px;
    /*margin: 100px auto;*/
    position: relative;
    transform-style: preserve-3d;
    transition: all 1s linear;
}

.homeDiv .container img {
    width: 180px; /*宽度小于container宽度，可以显示间隙*/
    height: 180px;
    position: absolute;
    transition: all 1s linear;
}
